.go-back {
        position: absolute;
        line-height: 0;
        top: 0.3rem;
        left: 0.3rem;
        cursor: pointer;
        padding :0.5rem 0.2rem 0.7rem 0.2rem;
        background-color: rgb(46, 26, 46);
        border-radius: 50%;
        width: 1rem;
}

.grid-employees {
        width: 100%;
        max-height: 12.5em;
        overflow: auto;
}

.grid-employees::-webkit-scrollbar {
        height: 0.25rem;
        width: 0.5rem;
}

.grid-employees::-webkit-scrollbar-track {
        background: var(--item-bg-color);
}

.grid-employees::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(#3d2489 30%, transparent);
}

.grid-employees::-webkit-scrollbar-corner {
        overflow: hidden;
}

.grid-employees-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
}

.grid-employees-item img{
        width: 6rem;
}

.grid-employees-item:not(:first-child) {
        border-top: 2px purple solid;
}

.grid-employees-item:hover {
        background-color: rgb(22, 0, 59);
}

.selected {
        background-color: rgb(22, 0, 59);
}

@media only screen and (max-width: 700.99px) {
        .grid-employees {
                display: flex;
                flex-direction: column;
        }

        .assign-container {
                width: 80vw;
        }
}