.dashboard {
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        padding: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0 auto;
        margin-top: 3rem;
        width: 80%;
}

.welcome-mess {
        grid-column: span 2 / auto;
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
}

.welcome-mess span, .item-content span {
        text-transform: capitalize;
        color: gold;
        font-style: italic;
}

.orders-area::before, .stats-area::before {
        content: attr(data-title);
        background: #efd7ff;
        color: purple;
        font-weight: bold;
        padding: 0.7rem;
        margin-top: -1.5rem;
        text-transform: uppercase;
        z-index: 1;
}

.orders-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        grid-row: span 2 / auto;
        height: fit-content;
        max-height: 25rem;
        position: relative;
        background: linear-gradient(0deg, #802096, transparent);
        box-shadow: 3px 3px 3px 3px #050408;
}

.orders-area::after, .stats-area::after {
        content: ":";
        border-right: 2px #ff4500 solid;
        width: 5px;
        height: 30px;
        border-left: 2px #ff4500 solid;
        position: absolute;
        transform: rotate(-45deg);
        top: -1rem;
        left: -0.3rem;
        padding: 0.1rem;
}

.orders-list {
        list-style-type: none;
        width: 100%;
        padding: 0;
        height: fit-content;
        overflow-y: auto;
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif, Arial;
        margin-bottom: 0.2em;
        margin-top: 0.5rem;
}

.orders-list::-webkit-scrollbar {
        height: 0.25rem;
        width: 0.25rem;
}

.orders-list::-webkit-scrollbar-track {
        background: var(--item-bg-color);
}

.orders-list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(#d6b0ff 50%, transparent);
}

.orders-list::-webkit-scrollbar-corner {
        overflow: hidden;
}

.order-item {
        display: flex;
        font-size: smaller;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem 0.3rem;
        letter-spacing: 0.062em;
        overflow: hidden;
        line-height: 1.7em;
}

.item-content{
        width: fit-content;
        text-align: left;
}

.item-content div:first-child{
        font-size: 1.3rem;
}

.order-item .actions {
        display: grid;
        gap: 0.5em;
}

.order-item button {
        position: relative;
        padding: 0.5em;
        border-radius: 10px;
        cursor: pointer;
        font-size: smaller;
        font-weight: bold;
        background: transparent;
        color: #e5f6ca;
        border: 2px #d5adff solid;
}

.order-item button:hover {
        background: #1e44ff;
        box-shadow: 5px 8px 8px #262049;
}

.order-item:not(:last-child) {
        border-bottom: 2px #000000 solid;
}

.stats-area {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        box-shadow: 3px 3px 3px #b7abff;
        border: 0.01em #ffffff solid;
}

.stats {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        position: inherit;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg, #19073f, transparent);
        margin: 0;
        padding-top: 1rem;
        border-radius: inherit;
}

.stat-item:nth-child(1),
.stat-item:nth-child(2) {
        border-top: 0;

}

.stat-item:nth-child(odd):last-child {
        grid-column: span 2 / auto;
}

.stat-item:nth-child(2n+0) {
        border-left: 3px #dfc1ff solid;
}

.stat-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        position: inherit;
        border-top: 3px #dfc1ff solid;
        padding: 0.7rem;
}

.stat-anim {
        border-top: 10px #f78dff dashed;
        padding: 2rem;
        margin: 0 auto;
        width: max-content;
        border-radius: 50px;
        position: inherit;
        transform: rotate(0deg);
        animation: stat-anim 700ms ease-out 0s infinite backwards;
}

.stat-anim + span {
        margin-top: -2.7rem;
}

.stat-text {
        margin: 0 auto;
        margin-top: 1.5rem;
}

.stat-item:nth-child(odd):last-child .stat-anim~span {
        left: 10.5rem;
}

@keyframes stat-anim {
        0% {
                transform: rotate(0deg);
        }

        50% {
                border-top-color: #ffce72;
        }

        100% {
                transform: rotate(360deg);
        }
}

@media only screen and (max-width: 700.99px) {
        .dashboard {
                grid-template-columns: auto;
        }

        .welcome-mess {
                grid-column: auto;
        }
}