.container::before {
        content: attr(data-header);
        position: relative;
        background: rgb(104, 50, 129);
        padding: 1rem;
        top: -30px;
        text-transform: uppercase;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
        margin: 5rem auto;
        margin-bottom: 1rem;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
        background: var(--container-color);
        border-radius: 50px;
        text-align: center;
        width: 500px;
        padding: 1rem;
}

form {
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: var(--content-width);
}

.form-group {
        display: grid;
        margin-bottom: 1rem;
}

#helpId {
        color: red;
        font-weight: bold;
        grid-column: 2;
        text-align: left;
}

input[type="text"],
input[type="password"] {
        outline: none;
        border: 0;
        background: none;
        border-bottom: 2px #3c2149 solid;
        padding: 0.5rem;
        font-size: 0.8rem;
        height: 1rem;
}

.bar-area{
        display: flex;
        height: 0.75rem;
        width: 100%;
        grid-column: 2;
        margin-top: 0.25rem;
}

.bar{
        margin-right: 0.25rem;
        width: 25%;
        transition: box-shadow 500ms;
        box-shadow: inset 0px 1rem rgb(92, 88, 88);
}

.bar-show{
        box-shadow: none;
}

.bar:first-child{
        background: linear-gradient(to right, red, orangered);
}

.bar:nth-child(2){
        background: linear-gradient(to right, orangered, yellow);
}

.bar:nth-child(3){
        background: linear-gradient(to right, yellow, yellowgreen);
}

.bar:last-child{
        background: linear-gradient(to right, yellowgreen, green);
}

.container a {
        color: #f8d6ff;
        text-decoration: none;
}

.container a:hover {
        text-decoration-line: underline;
        text-decoration-color: rgb(199, 235, 255);
}

.btn {
        margin: 20px auto;
        font-size: 1rem;
        font-weight: bolder;
        color: var(--text-color);
        border-radius: 50px;
        background: linear-gradient(15deg, rgb(174, 0, 255), dodgerblue);
        border: 0;
        padding: 0.7em;
        transform: scale(0.9);
        width: 100%;
}

.googleBtn {
        background: white;
        border-radius: 5px;
        border: thin solid #888;
        box-shadow: 1px 1px 1px grey;
        white-space: nowrap;
        margin-bottom: 0.5rem;
        padding: 0.4rem;
        overflow:hidden;
        transform: scale(0.9);
}

.googleBtn img {
        vertical-align: middle;
        width: 2rem;
        padding: 0 10px;
}

.googleBtn span {
        font-size: 0.9rem;
        font-weight: bold;
}

.or {
        border: 2px white solid;
        border-radius: 50px;
        padding: 0.5rem;
        background: rgb(81, 31, 65);
}

@media only screen and (max-width: 700.99px) {
        .container {
                width: 70vw;
        }

        .form-group label img {
                margin-right: 0.5rem;
        }
}