.welcome {
        margin: 0 auto;
        margin-top: 30vh;
        width: fit-content;
        font-family: "Franklin Gothic Medium", Arial, sans-serif;
        text-align: center;
        transform: scale(1);
}

.welcome h1 {
        margin: 0;
        letter-spacing: 0.5rem;
}

.welcome span {
        color: gold;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
}

.welcome img {
        width: 7rem;
}