.welcome {
        margin: 0 auto;
        margin-top: 30vh;
        text-align: center;
        transform: scale(1);
}

.welcome h1 {
        margin: 0 auto;
        color: rgb(223, 237, 255);
        letter-spacing: 0.5rem;
        width: fit-content;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.welcome h4 {
        margin: 0 auto;
        color: gold;
        width: fit-content;
        letter-spacing: 0.3rem;
        font-family: "Arial Narrow", Arial, sans-serif;
}

.welcome img {
        width: 7rem;
}