.order-item-back{
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        z-index: 99;
        font-family: Geneva, Tahoma, sans-serif;
}

.order-container::before {
        content: "Order Details";
        background: rgb(104, 50, 129);
        padding: 0.7rem;
        margin: 0 auto;
        margin-top: -2.5rem;
        text-align: center;
        height: fit-content;
        width: fit-content;
}

.order-container{
        position: relative;
        margin: 0 auto;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        border: 3px whitesmoke solid;
        border-radius: 20px;
        background: linear-gradient(0deg, plum, rgb(156, 155, 155));
        gap: 1rem;
        outline: none;
        max-width: 600px;
        height: fit-content;
        max-height: 500px;
        padding: 1rem;
}

.close-order-item{
        position: absolute;
        top: 5px;
        right: 5px;
        line-height: 0;
        cursor: pointer;
        padding :9px 1px 12px 2px;
        background-color: rgb(46, 26, 46);
        border-radius: 50%;
        border: 2px whitesmoke solid;
        text-align: center;
        width: 20px;
        text-decoration: none;
}

.order-item-summary{
        display: flex;
}

.col{
        text-align: left;
        display: grid;
        width: 100%;
        font-weight: bolder;
        padding-left: 0.5rem;
        color: rgb(71, 39, 71);
}

.col span{
        width: 100%;
        color: snow;
        font-style: italic;
        word-wrap: normal;
        overflow-x: auto;
}

.col:last-child{
        border-left: 4px rgb(163, 77, 133) solid;
}

.table{
        border-block: 3px rgb(93, 53, 80) solid;
}

.table th{
        background-color: rgb(39, 22, 81);
}

.table tr:nth-child(odd){
        background-color: rgb(82, 64, 124);
}

.table tr:nth-child(even){
        background-color: rgb(110, 101, 134);
}

.assign-button {
        margin: 0 auto;
        font-size: 0.9rem;
        font-weight: bolder;
        color: snow;
        border-radius: 50px;
        background: linear-gradient(45deg,
                        rgb(235, 158, 135),
                        rgb(104, 38, 97) 70%);
        border: 0;
        padding: 0.7em;
        width: 50%;
}

.assign-button:hover {
        cursor: pointer;
        box-shadow: 5px 5px 25px rgb(104, 38, 54);
}

@media only screen and (max-width: 700.99px) {
.order-container{
        width: 80vw;
}
}