.splash-back{
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background: rgb(51, 100, 149);
        text-align: center;
        z-index: 99;
        display: flex;
        flex-direction: column;
}

.splash{
        margin: 0 auto;
        margin-top: 40vh;
        width: 5rem;
        position: relative;
}